<% provide(:title, @user.name) %>


<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-1">
      </div>
    <div class="col-xs-12 col-sm-7">
      <% if @user.microposts.any? %>
          <div class="jumbotron">
            <h3>微博(<%= @user.microposts.count %>)</h3>
          </div>
          <ol class="microposts" style="padding-left: 0px;">
            <%= render @microposts %>
          </ol>
          <%= will_paginate(@microposts,:class=>"fenye") %>
      <% end %>


    </div><!--/span-->

    <%= render 'shared/user_info' %>

  </div><!--/row-->

</div>