<% if object.errors.any? %>
    <div class="alert-warning">
      <div class="alert alert-error">
        The form contains <%= pluralize(object.errors.count, "error") %>.
      </div>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li class="text-left">* <%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>