<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div>
      <%= f.text_area :content, placeholder: "创建新微博...", class: "form-control" %>
      <h3></h3>
      <h5 class="text-right"> <%= f.submit "Post", class: "btn btn-default " %></h5>
    </div>
<% end %>