<% @user ||= current_user %>
<div class="col-xs-12 col-sm-12 " id="info">
  <div class="row">
    <h2></h2>
  </div>
  <div class="row">
    <%= icon @user %>
  </div>
  <div class="row">
    <h2><%= @user.name %></h2>
    <h4>邮件地址: <%= @user.email %></h4>
  </div>
  <div class="row">
    <h1></h1>
  </div>
  <%= render 'shared/stats' %>
  <div class="row">
    <h2></h2>
  </div>
</div>
<div class="col-xs-12 col-sm-12 " style="padding: 0">

</div>