<div class="col-xs-12 col-sm-3 " id="info" >
  <div class="row">
    <h2></h2>
  </div>
  <div class="row">
    <%= icon current_user %>
  </div>
  <div class="row">
    <h2><%=current_user.name %></h2>
    <h4>邮件地址: <%=current_user.email %></h4>
  </div>
  <div class="row">
    <h1></h1>
  </div>
  <div class="row">
    <div class="col-3 col-sm-1 col-lg-4 ">
      <h4>关注</h4>
    </div>
    <div class="col-3 col-sm-1 col-lg-4 ">
      <h4>微博</h4>
    </div>
    <div class="col-3 col-sm-1 col-lg-4 ">
      <h4>粉丝</h4>
    </div>
  </div>
  <div class="row">
    <h2></h2>
  </div>
  <div class="row">
    <div class="col-3 col-sm-1 col-lg-4 ">
      <h4>关注</h4>
    </div>
    <div class="col-3 col-sm-1 col-lg-4 ">
      <h4><%= current_user.microposts.count %></h4>
    </div>
    <div class="col-3 col-sm-1 col-lg-4 ">
      <h4>粉丝</h4>
    </div>
  </div>
  <div class="row">
    <h2></h2>
  </div>
</div>