<hr class="featurette-divider">
<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>制作 by 王旭阳</p>
    <p>
      © 2013 ·
      <a href="/about">About</a>
    </p>
  </div>
</footer>